header { padding: 15px; width: 100%; }
header > h4 { margin: 0; }
.form { padding: 0 0 10px 0; }
.form-inline .form-control.key { width: auto; display: inline-block; }
#page h3 { margin: 0; padding: 10px 0 20px 0; }